.toprated-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-left: 15px;
}

.toprated-img {
    max-height: 350px;
    margin-right: 10px;
    position: relative;
    margin-top: 20px;
    transition: .2s ease-in-out; 
}

.toprated-img:hover{
    cursor: pointer;
    border: 3px solid white;
    border-radius: 2px;
}

.toprated-title{
 margin-top: 4.5rem;
 color: white;
 margin-left: 20px;

}

.header-part{
    display: flex;
    justify-content: space-between;
}
.header-part input{
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-top: 100px;
}
@media (max-width: 767px) {
    .toprated-img {
        
        padding: 0.7rem;
        width: 100vw;
        margin-top: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    .toprated-title{
        
        margin-left: 26px;
       
       }
    
  
}

